
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <form #form="ngForm" (submit)="onSubmit()">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Identificacão</h3>
                    <div class="mb-4 pb-2 align-items-center" >
                      <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" name="tipo" [(ngModel)]="usuarioRegistro.tipo"  id="inlineRadio1" value="cliente">
                        <label class="form-check-label" for="inlineRadio1">Cliente</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tipo" [(ngModel)]="usuarioRegistro.tipo" id="inlineRadio2" value="fornecedor">
                        <label class="form-check-label" for="inlineRadio2">Fornecedor</label>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" name="nome" [(ngModel)]="usuarioRegistro.nome"class="form-control form-control-lg" />
                        <label class="form-label" for="nome">Nome</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="text" name="cpf" [(ngModel)]="usuarioRegistro.cpf"class="form-control form-control-lg"
                          mask="CPF_CNPJ"/>
                          <label class="form-label" for="cpf">cpf</label>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="text" name="telefone" [(ngModel)]="usuarioRegistro.telefone"class="form-control form-control-lg"
                          mask="(00) 0000-0000||(00) 00000-0000"/>
                          <label class="form-label" for="telefone">Telefone</label>
                        </div>

                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" name="email" [(ngModel)]="usuarioRegistro.email"class="form-control form-control-lg"
                        />
                        <label class="form-label" for="email">E-mail</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="password" name="senha" [(ngModel)]="usuarioRegistro.senha" class="form-control form-control-lg" />
                          <label class="form-label" for="senha">Senha</label>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="password" name="senhaConfirmacao" [(ngModel)]="senhaConfirmacao" class="form-control form-control-lg" />
                          <label class="form-label" for="senhaConfirmacao">Repetir Senha</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Endereço</h3>

                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">

                        <div class="form-outline form-white">
                          <input type="text" name="cep" [(ngModel)]="usuarioRegistro.cep"class="form-control form-control-lg"
                          (blur)="consultaCep()"/>
                          <label class="form-label" for="cep">CEP</label>
                        </div>

                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" name="logradouro" [(ngModel)]="usuarioRegistro.logradouro"class="form-control form-control-lg" readonly/>
                        <label class="form-label" for="logradouro">Logradouro</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">

                        <div class="form-outline form-white">
                          <input type="text" name="numero" [(ngModel)]="usuarioRegistro.numero" class="form-control form-control-lg" />
                          <label class="form-label" for="numero">Número</label>
                        </div>

                      </div>
                      <div class="col-md-7 mb-4 pb-2">

                        <div class="form-outline form-white">
                          <input type="text" name="complemento"  class="form-control form-control-lg" />
                          <label class="form-label" for="complemento">Complemento</label>
                        </div>

                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" name="bairro" [(ngModel)]="usuarioRegistro.bairro" class="form-control form-control-lg" readonly/>
                        <label class="form-label" for="bairro">Bairro</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-9 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" name="cidade" [(ngModel)]="usuarioRegistro.cidade" class="form-control form-control-lg" readonly/>
                          <label class="form-label" for="cidade">Cidade</label>
                        </div>

                      </div>
                      <div class="col-md-3 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" name="uf" [(ngModel)]="usuarioRegistro.uf" class="form-control form-control-lg" readonly/>
                          <label class="form-label" for="uf">UF</label>
                        </div>

                      </div>
                    </div>
                    <button type="submit" class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark">Salvar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
