
.containerLogin{
  background-color: #C4EEF2;
  color: #ffffff;
}

.label {
  color: #025159;
  font-weight: bold;
}

.inputDados {
  background-color: #025159;
  color: #ffffff;
}

.btnLogin {
  background-color: #025159;
  color: #ffffff;
  font-weight: bold;
}
