
.containerLogin{
  background-color: #C4EEF2;
  color: #ffffff;
}

h1, h4 {
  color: #025159;
  font-weight: bold;
}


.label {
  color: #025159;
  font-weight: bold;
}

.inputDados {
  background-color: #025159;
  color: #ffffff;
}

.btnLogin {
  background-color: #025159;
  color: #ffffff;
  font-weight: bold;
}


.container img {
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}