<section class="container">
  <header class="header">
    <h2>Receita {{ receita.id ? '# '+ receita.id : '' }} </h2>
  </header>

  <form>
    <div class="mb-3">
      <label class="form-label" for="descricao">Descrição</label>
      <input type="text" [(ngModel)]="receita.descricao" class="form-control" name="descricao" required />
    </div>

    <div class="mb-3">
      <label class="form-label" for="valor">Valor</label>
      <input type="text" [(ngModel)]="receita.valor" class="form-control" name="valor" required />
    </div>

    <!--<div class="mb-3">
      <label class="form-label" for="dataLancamento">Data de Lançamento</label>
      <input type="date" [(ngModel)]="receita.dataLancamento" class="form-control" name="dataLancamento" required />
    </div>
  -->

    <div class="mb-3">
      <label class="form-label" for="dataRecebimento">Data de Recebimento</label>
      <input type="date" [(ngModel)]="receita.dataRecebimento" class="form-control" name="dataRecebimento" required />
    </div>

    <div class="col-md-12 mb-3">
      <label class="form-label" for="usuario">Usuário</label>
      <select name="usuario" [(ngModel)]="receita.usuarioId" class="form-select" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let usuario of listaUsuarios" value="{{ usuario.id }}">
            {{ usuario.nome }}
          </option>
        </select>
    </div>

    <div class="col-md-12 mb-3">
      <label class="form-label" for="membro">Membro</label>
      <select name="membro" [(ngModel)]="idMembroSelecionado"  (ngModelChange)="preencherDadosMembro()" class="form-select" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let membro of listaMembros" value="{{ membro.id }}">
            {{ membro.nome }}
          </option>
        </select>
    </div>

    <div class="col-md-12 mb-3">
      <label class="form-label" for="categoria">Categoria</label>
      <select name="categoria" [(ngModel)]="idCategoriaSelecionado"  (ngModelChange)="preencherDadosCategoria()" class="form-select" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let categoria of listaCategorias" value="{{ categoria.id }}">
            {{ categoria.descricao }}
          </option>
        </select>
    </div>

    <div class="col-md-12 mb-3">
      <label class="form-label" for="conta">Conta</label>
      <select name="conta" [(ngModel)]="idContaSelecionado"  (ngModelChange)="preencherDadosConta()" class="form-select" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let conta of listaConta" value="{{ conta.id }}">
            {{ conta.descricao }}
          </option>
        </select>
    </div>

    <button (click)="salvarReceita()" type="button" class="btn btn-success btn-lg ms-2">Salvar</button>
    <button (click)="cancelarReceita()" type="button" class="btn btn-danger btn-lg ms-2">Cancelar</button>
  </form>
</section>

