<header class="navSistema">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navSistema">
    <!-- Container wrapper -->
    <div class="container-fluid navSistema">
      <a class="navbar-brand me-2" href="#">
        <img
          src="../../../assets/img/ibamar_logo.png"
          height="64"
          alt="Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
      <div class="d-flex align-items-center">
        <button type="button"  (click)="logout()" class="btn btn-danger btn-lg btn-floating">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </nav>
</header>
